---
// Static port of the old React component ContentPage.jsx.
import NavigationBar from './NavigationBar.astro';

const { pageClassName = 'page-container', wrapperClassName = 'content-wrapper-narrow' } = Astro.props;
---

<NavigationBar />
<div class={pageClassName}>
  <div class={wrapperClassName}><slot /></div>
</div>
